article.box_four:hover {
	background: #f5f5f5 !important;
}

ul#services {
	margin: 60px 0 0 0;
}

ul#services li {
	margin-bottom: -5px;
}

ol.sombrero-nav {
	display: none !important;
}

.slides .slide {
	cursor: default;
}

form#mc-embedded-subscribe-form input[type=email] {
	max-width: 215px;
}

#cross {
	display: none;
}

#cross_author {
	display: none;
}

.single-post #single_blog .main_col {
	width: 788px !important;
}

article.post img {
	max-width: 788px !important;
}

#related img {
	max-width: 378px !important;
}

.pinterest-btn {
	display: none !important;
}

.about_lower img {
    height: 490px;
    width: 384px;
}